.section-explore-options {
  padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  background-color: #fcfcfc;
}

.explore-options-heading {
  font-size: 3rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 2.4rem;
}
