@use "./breakpoints" as *;

/********************************************************************************
 ### FONT SIZE - 12px 14px 16px 18px 20px 24px 28px 30px 32px 36px 40px 44px 48px 56px 64px

 ### SPACING - 8px 10px 12px 18px 24px 28px 32px 36px 48px 64px 80px 96px 108px 128px 

 ### LINE HEIGHT -
********************************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: $large) {
    font-size: 56.25%;
  }

  @media screen and (max-width: $small) {
    font-size: 50%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  position: relative;
  color: #333;
  font-weight: 300;
}

.container {
  max-width: 110rem;
  margin: 0 auto;

  @media screen and (max-width: $extra-large) {
    padding: 0 3.6rem;
  }

  @media screen and (max-width: $small) {
    padding: 0 2.4rem;
  }
}

.heading {
  &-primary {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1;
    // @media screen and (max-width: $large) {
    //   font-size: 3.2rem;
    //   line-height: 0.8;
    // }
  }

  &-secondary {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2;

    @media screen and (max-width: $large) {
      font-size: 3.2rem;
      line-height: 1;
    }
    @media screen and (max-width: $small) {
      font-size: 2.4rem;
      line-height: 1;
    }
  }
}

@mixin gird($cols) {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat($cols, 1fr);

  @media screen and (max-width: $extra-large) {
    gap: 2rem;
  }
}

.grid-1-col {
  @include gird(1);
}
.grid-2-col {
  @include gird(2);
}
.grid-3-col {
  @include gird(3);
  @media screen and (max-width: $large) {
    @include gird(2);
  }

  @media screen and (max-width: $small) {
    @include gird(1);
  }
}
.grid-4-col {
  @include gird(4);
  @media screen and (max-width: $large) {
    @include gird(3);
  }

  @media screen and (max-width: $small) {
    @include gird(2);
  }
}
.grid-5-col {
  @include gird(5);

  @media screen and (max-width: $large) {
    @include gird(4);
  }

  @media screen and (max-width: $small) {
    @include gird(2);
  }
}
